<ion-content>
    <ion-view view-title="Karne">
        <ion-tabs>

            <ion-tab title="Etkinlik Karne">
                <!-- Tab 1 content --><ion-view>
                                          <h1 style="margin-top:100px;">Etkinlik Karne</h1>
                </ion-view>

            </ion-tab>

            <ion-tab title="Ders Karne">
                <!-- Tab 2 content -->
                <h1 style="margin-top:100px;">Ders Karne</h1>
            </ion-tab>

            <ion-tab title="Ders Ayrıntıları">
                <!-- Tab 3 content -->
                <h1 style="margin-top:100px;">Ders Ayrıntıları</h1>
            </ion-tab>

        </ion-tabs>
    </ion-view>
</ion-content>