
    <ion-view view-title="Ogretmen Ders Programi">
        <ion-content>
            <ion-list>
                <ion-item ng-click="ogretmendersprogramigec()">
                    <img style="float:left;" width="35" height="35" src="img/day.png" />
                    <div vertical-align:central"><span style="margin-left:5%;">Pazartesi</span></div>
                </ion-item>
                <ion-item ng-click="ogretmendersprogramigec()">
                    <img style="float:left;" width="35" height="35" src="img/day.png" />
                    <span style="margin-left:5%;">Sali</span>
                </ion-item>
                <ion-item ng-click="ogretmendersprogramigec()">
                    <img style="float:left;" width="35" height="35" src="img/day.png" />
                    <span style="margin-left:5%;">Carsamba</span>
                </ion-item>
                <ion-item ng-click="ogretmendersprogramigec()">
                    <img style="float:left;" width="35" height="35" src="img/day.png" />
                    <span style="margin-left:5%;">Persembe</span>
                </ion-item>
                <ion-item ng-click="ogretmendersprogramigec()">
                    <img style="float:left;" width="35" height="35" src="img/day.png" />
                    <span style="margin-left:5%;">Cuma</span>
                </ion-item>
                <ion-item ng-click="ogretmendersprogramigec()">
                    <img style="float:left;" width="35" height="35" src="img/day.png" />
                    <span style="margin-left:5%;">Cumartesi</span>
                </ion-item>
                <ion-item ng-click="ogretmendersprogramigec()">
                    <img style="float:left;" width="35" height="35" src="img/day.png" />
                    <span style="margin-left:5%;">Pazar</span>
                </ion-item>
</ion-content>
</ion-view>