<ion-content>


    <ion-view>

        <ion-tabs>

            <ion-tab title="Home">
                <!-- Tab 1 content --><ion-view>
                                        
                </ion-view>
               
            </ion-tab>

            <ion-tab title="About">
                <!-- Tab 2 content -->
                <h1 style="margin-top:100px;">About</h1>
            </ion-tab>

            <ion-tab title="Settings">
                <!-- Tab 3 content -->
                <h1 style="margin-top:100px;">Settings</h1>
            </ion-tab>

        </ion-tabs>

</ion-view>
  </ion-content>