<ion-view view-title="AnaOkulum Mobile Application">
  <ion-content>
    <ion-list>
        <ion-item ng-click="ogretmenkayitliogrencilerigoruntulegec()">
            <img style="float:left;" width="35" height="35"  src="img/people.png"/>
            <div vertical-align:central"><span style="margin-left:5%;">Ogretmen Kayitli Ogrencileri Goruntule</span></div>
        </ion-item>

        <ion-item ng-click="ogretmendigerogretmenlerleiletisimgec()">
            <img style="float:left;" width="35" height="35" src="img/email.png" />
            <span style="margin-left:5%;">Ogretmen Diger Ogretmenlerle Iletisime Gec</span>
        </ion-item>

        <!--<ion-item ng-click="ogretmenkarnegoruntulemeduzenlemegec()">
            <img style="float:left;" width="35" height="35" src="img/clipboard.png" />
            <span style="margin-left:5%;">Ogretmen Karne Goruntuleme</span>
        </ion-item>-->

        <ion-item ng-click="ogretmenveliileiletisimgec()">
            <img style="float:left;" width="35" height="35" src="img/chat.png" />
            <span style="margin-left:5%;">Ogretmen Veli Ile Iletisime Gec</span>
        </ion-item>

        <ion-item ng-click="ogretmenetkinlikolusturmaduzenlemegec()">
            <img style="float:left;" width="35" height="35" src="img/camera.png" />
            <span style="margin-left:5%;">Ogretmen Etkinlik Olusturma Duzenleme</span>
        </ion-item>

        <ion-item ng-click="ogretmendersprogramigec()">
            <img style="float:left;" width="35" height="35" src="img/lesson_programs.png" />
            <span style="margin-left:5%;">Ogretmen Ders Programi</span>
        </ion-item>

        <ion-item ng-click="ogretmenyemeklistesigec()">
            <img style="float:left;" width="35" height="35" src="img/pizza.png" />
            <span style="margin-left:5%;">Ogretmen Yemek Listesi</span>
        </ion-item>

        <ion-item ng-click="velietkinliklerigoruntulegec()">
            <img style="float:left;" width="35" height="35" src="img/camera.png" />
            <span style="margin-left:5%;">Veli Etkinlikleri Goruntule</span>
        </ion-item>

        <ion-item ng-click="veliogretmenleiletisimgec()">
            <img style="float:left;" width="35" height="35" src="img/email.png" />
            <span style="margin-left:5%;">Veli Ogretmenle Iletisim</span>
        </ion-item>


        <ion-item ng-click="velikarnegoruntulemegec()">
            <img style="float:left;" width="35" height="35" src="img/clipboard.png" />
            <span style="margin-left:5%;">Veli Karne Goruntuleme</span>
        </ion-item>

        <ion-item ng-click="veliyetenekyonelimgoruntulegec()">,
            <img style="float:left;" width="35" height="35" src="img/yonelim.png" />
            <span style="margin-left:5%;">Veli Yetenek Yonelim Goruntule</span>
        </ion-item>

        <ion-item ng-click="velidersprogramigoruntulegec()">
            <img style="float:left;" width="35" height="35" src="img/lesson_programs.png" />
            <span style="margin-left:5%;">Veli Ders Programi Goruntule</span>
        </ion-item>

        <ion-item ng-click="veliyemeklistesigoruntulegec()">
            <img style="float:left;" width="35" height="35" src="img/pizza.png" />
            <span style="margin-left:5%;">Veli Yemek Listesi Goruntule</span>
        </ion-item>

        <ion-item ng-click="ayarlargec()">
            <img style="float:left;" width="35" height="35" src="img/settings.png" />
            <span style="margin-left:5%;">Ayarlar</span>
        </ion-item>
        
    </ion-list>
  </ion-content>
</ion-view>
